:root {
    --border-radius-outer: 12px;
    --border-radius-inner: 6px;
    --li-background-color: #101010;
    --li-background-color-hover: #161616;
    --li-border-color: #242424;
    --grey: #999;
    --white: #FFF;
    --seperator: #242424;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, p {
    color: var(--grey);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

code {
    font-family: 'Fira mono', 'Courier New', Courier, monospace;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 960px;
}

.container-padded {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

a {
    color: var(--grey);
    text-decoration: none;
    transition: 300ms ease all;
}

a:hover {
    color: var(--white);
}

h1 {
    font-size: 3rem;
    font-weight:300;
    background: -webkit-linear-gradient(white, #aaa);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.markdown ul, .markdown li, .markdown p {
    color: var(--grey);
}

.markdown h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.markdown .content > h3:first-of-type {
    margin-top: 0rem;
}

.markdown li {
    margin-top: 1rem;
}